@page "/customer"

<PageTitle>@($"{GlobalVariable.AppName} | Customer")</PageTitle>

<div class="rz-mb-6">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/customer"
                              Text="Customer" />
        <RadzenBreadCrumbItem Text="List" />
    </RadzenBreadCrumb>
</div>

<MainMenuButton LoadDataClicked="EvReloadData"
                CreateNewClicked="EvCreateNew" />

<RadzenDataGrid @ref="CustomerGrid"
                IsLoading=@isLoading
                Count="@CustomerState.MetaData.TotalCount"
                Data="@CustomerState.CustomerList"
                SelectionMode="DataGridSelectionMode.Single" 
                AllowSorting="true"
                AllowFiltering="false"
                AllowPaging="true"
                PageSize="@CustomerState.MetaData.PageSize"
                PagerHorizontalAlign="HorizontalAlign.Center"
                AllowColumnResize="true"
                AllowColumnReorder="false"
                GridLines="DataGridGridLines.Both"
                ColumnWidth="150px"
                class="my-4">
    <Columns>
        <RadzenDataGridColumn Width="50px"
                              Title="#" Filterable="false"
                              Sortable="false"
                              TextAlign="TextAlign.Center">
            <Template Context="data">
                @(CustomerState.CustomerList.IndexOf(data) + 1)
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Property="CustomerID"
                              Visible=false
                              Filterable="false"
                              Title="ID"
                              Frozen="true"
                              TextAlign="TextAlign.Center">
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Property="CustomerName"
                              Title="Name"
                              Frozen="true" />

        <RadzenDataGridColumn Property="PhoneNumber"
                              Title="Phone" />

        <RadzenDataGridColumn Property="Address"
                              Title="Address" />

        <RadzenDataGridColumn Property="Email"
                              Title="Email" />

        <RadzenDataGridColumn Property="ContactPerson"
                              Title="Contact Person" />

        <RadzenDataGridColumn Property="CPPhone"
                              Title="Phone" />

        <RadzenDataGridColumn Property="Note"
                              Title="Note" />

        <RadzenDataGridColumn Context="CustomerDTO"
                              Title="Action"
                              Filterable="false"
                              Sortable="false"
                              TextAlign="TextAlign.Left"
                              Frozen="true"
                              FrozenPosition="FrozenColumnPosition.Right">
            <Template Context="CustomerDTO">
                <RadzenButton Icon="edit"
                              ButtonStyle="ButtonStyle.Light"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Medium"
                              Click="@(args => EvEditRow(CustomerDTO))"
                              @onclick:stopPropagation="true">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger"
                              Icon="delete"
                              Variant="Variant.Flat"
                              Shade="Shade.Lighter"
                              Size="ButtonSize.Medium"
                              class="my-1 ms-1"
                              Click="@(async args => await EvDeleteRow(CustomerDTO))"
                              @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
